@media screen and (max-width: 1300px){
    #bruh3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #bruh2 {
        flex-direction: column;
    }

}

@media screen and (max-width: 768px){
    #bruh {
        flex-direction: column;
        align-items: center;
    }
}