* {
  font-family: sans-serif;
}
/*Both HTMl*/
header {
  display: flex;
  justify-content: space-between;
  background: grey;
  padding: 15px;
}

.title {
  font-size: 200%;
}

h2 {
  font-size: 154%;
}
/* ^ */

/* Main HTML */
.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.recommendation {
  margin-left: 15px;
}

.charts {
  margin-right: 40%;
} 

/* ^ */

/* Search HTML */
.list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-footer {
  display: flex;
  justify-content: center;
}

.new-list {
  padding: 10px;
}
/* ^ */

